doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    meta(name="author" content=author)
    meta(name="twitter:creator" content=author)

    meta(property="og:url" content=baseurl)

    meta(name="description" content=description)
    meta(name="twitter:description" content=description)
    meta(property="og:description" content=description)

    meta(name="twitter:site" content=short_description)
    meta(property="og:site" content=short_description)
    meta(property="og:site_name" content=short_description)

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content=opengraph_image)
    meta(property="og:image" content=opengraph_image)

    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css')
    link(rel='stylesheet', type='text/css', href='./main.css')

    link(rel='shortcut icon', href='./favicon.ico')
    <!--[if lt IE 9]>
      script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
    <![endif]-->
